 @font-face {
     font-family: CaskydiaCoveNerdFont;
     src: url('CaskaydiaCoveNerdFont-Bold.ttf');
 }

 body {
     font-family: CaskydiaCoveNerdFont;
     text-align: center;
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .board {
     width: 320px;
     height: 318px;
     display: flexbox;
     flex-wrap: wrap;
     box-shadow: 4px 4px 4px #0b263955;
     text-align: center;
     vertical-align: center;
 }

 .cell {
     width: 28.8px;
     height: 28.8px;
     border: 1.2px solid #476C9B;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     font-size: 27px;
     cursor: pointer;
     background-color: #ADD9F4;

     color: #D18069;
 }

 .open {
     width: 30px;
     height: 30px;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     font-size: 27px;
     cursor: pointer;
     background-color: #476C9B;
     color: #101419;
 }

 .mine {
     width: 30px;
     height: 30px;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     font-size: 27px;
     cursor: pointer;
     background-color: #101419;
     color: #F53326;
 }

 .result {
     display: inline-block;
     margin-top: 10px;
     text-align: center;
     vertical-align: center;
     font-size: 42px;
     cursor: pointer;
     color: white;
 }

 .lost {
     display: inline-block;
     text-align: center;
     vertical-align: center;
     display: flex;
     align-items: center;
     font-size: 42px;
     cursor: pointer;
     color: white;
 }

 .restart {
     position: relative;
     top: 100px;
     padding: 12px 18px;
     border-radius: 8px;
     border: 1.5px solid #476C9B;
     box-shadow: 4px 4px 4px #0b263955;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     font-family: CaskydiaCoveNerdFont;
     font-size: 27px;
     cursor: pointer;
     background-color: #6cadd5;
     color: #383535;

 }

 .restart:hover {
     border-radius: 8px;
     border: 1.5px solid #355783;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     font-size: 27px;
     cursor: pointer;
     background-color: #ADD9F4;
     color: #857d7d;
 }

 .restart:active {
     border-radius: 8px;
     border: 1.5px solid #1a3250;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     font-size: 27px;
     cursor: pointer;
     background-color: #43779e;
     color: rgb(40, 36, 36);
 }